* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

:root {
  --color-green: hsl(160deg, 100%, 30%);
  --color-gold-light: hsl(45deg, 100%, 50%);
  --color-gold-dark: hsl(45deg, 100%, 40%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-very-dark-grey: hsl(0deg, 0%, 10%);
  --color-dark-grey: hsl(0deg, 0%, 30%);
  --color-medium-grey: hsl(0deg, 0%, 40%);
  --color-light-grey: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

body {
  background-color: var(--color-light-grey);
}

.max-width-wrapper {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

header,
.card {
  background-color: var(--color-white);
  border-bottom: 8px solid var(--color-medium-grey);
}

.intro-chunk {
  padding: 48px 24px;
  font-size: 1.75rem;
}

.title {
  font-size: 2rem;
  margin-block-start: 64px;
  margin-block-end: 48px;
}

strong {
  color: var(--color-green);
}

main {
  padding: 64px 0;
}

.card {
  padding: 16px 24px;
}

.indented-heading {
  background-color: var(--color-gold-light);
  border-bottom: 8px solid var(--color-gold-dark);
  width: fit-content;
  margin: 0;
  font-size: 1.75rem;
  padding: 16px;
  padding-left: 48px;
  margin-top: -8px;
  margin-left: -48px;
}
